<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7eea6f42-7bc0-42c0-b140-4af52dcac468/resourcegroups/MVC-5-With-Entity-Framework-l0e4h5/providers/Microsoft.Web/sites/LearnHub20170621022116</ResourceId>
    <ResourceGroup>MVC-5-With-Entity-Framework-l0e4h5</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://learnhub20170621022116.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>learnhub20170621022116.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LearnHub20170621022116</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LearnHub20170621022116</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=amkthk.database.windows.net;Initial Catalog=AMKTHK-PLUSMINUS_FYP_2;User ID=dbadmin;Password=Z!x2c3v4" Name="Data Source=amkthk.database.windows.net;Initial Catalog=&quot;AMKTHK-PLUSMINUS_FYP_2&quot;;User ID=dbadmin;Password=Z!x2c3v4" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-QKL685K\SQLEXPRESS;Initial Catalog=&quot;AMKTHK-PLUSMINUS FYP&quot;;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-QKL685K\SQLEXPRESS;Initial Catalog=&quot;AMKTHK-PLUSMINUS FYP&quot;;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=amkthk.database.windows.net;Initial Catalog="AMKTHK-PLUSMINUS_FYP_2";User ID=dbadmin;Password=Z!x2c3v4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=amkthk.database.windows.net;Initial Catalog="AMKTHK-PLUSMINUS_FYP_2";User ID=dbadmin;Password=Z!x2c3v4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=amkthk.database.windows.net;Initial Catalog="AMKTHK-PLUSMINUS_FYP";User ID=dbadmin;Password=Z!x2c3v4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=amkthk.database.windows.net;Initial Catalog="AMKTHK-PLUSMINUS_FYP";User ID=dbadmin;Password=Z!x2c3v4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=amkthk.database.windows.net;Initial Catalog="AMKTHK-PLUSMINUS FYP";User ID=dbadmin;Password=Z!x2c3v4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=amkthk.database.windows.net;Initial Catalog="AMKTHK-PLUSMINUS FYP";User ID=dbadmin;Password=Z!x2c3v4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=DELL\SQLEXPRESS;Initial Catalog="AMKTHK-PLUSMINUS FYP";Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=DELL\SQLEXPRESS;Initial Catalog="AMKTHK-PLUSMINUS FYP";Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=DELL\SQLEXPRESS;Initial Catalog="AMKTHK-PLUSMINUS FYP";Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=DELL\SQLEXPRESS;Initial Catalog="AMKTHK-PLUSMINUS FYP";Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>