<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/34fe8e16-1ec0-48df-b721-05c97dc1cb7f/resourcegroups/AMKTHK/providers/Microsoft.Web/sites/LearnHub20170731061614</ResourceId>
    <ResourceGroup>AMKTHK</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://learnhub20170731061614.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>learnhub20170731061614.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LearnHub20170731061614</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LearnHub20170731061614</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:amkthk2.database.windows.net,1433;Initial Catalog=&quot;AMKTHK-PLUSMINUS FYP1&quot;;Persist Security Info=False;User ID=dbadmin;Password=Z!x2c3v4;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DELL\SQLEXPRESS;Initial Catalog=&quot;AMKTHK-PLUSMINUS FYP&quot;;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DELL\SQLEXPRESS;Initial Catalog=&quot;AMKTHK-PLUSMINUS FYP&quot;;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:amkthk2.database.windows.net,1433;Initial Catalog="AMKTHK-PLUSMINUS FYP1";Persist Security Info=False;User ID=dbadmin;Password=Z!x2c3v4;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:amkthk2.database.windows.net,1433;Initial Catalog="AMKTHK-PLUSMINUS FYP1";Persist Security Info=False;User ID=dbadmin;Password=Z!x2c3v4;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:amkthk2.database.windows.net,1433;Initial Catalog="AMKTHK-PLUSMINUS FYP1";Persist Security Info=False;User ID=dbadmin;Password=Z!x2c3v4;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:amkthk2.database.windows.net,1433;Initial Catalog="AMKTHK-PLUSMINUS FYP1";Persist Security Info=False;User ID=dbadmin;Password=Z!x2c3v4;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>